@media only screen 
      and (max-width: 900px)
      and (min-aspect-ratio: 1443/876) { 

        body {
          margin: 0;
          padding: 0;
          color: #ff8c1a;
          background-color: #331a00;
        }
        
        header {
          
          height: 100vh;
          background-image: url(background.jpg);
          background-repeat: no-repeat;
          background-size: 100%; 
          background-attachment: fixed;
          margin:0;
        }

        /* Texts */

        .lletres {
          height: 100vh;
          background-image: url(background_lletres.png);
          background-repeat: no-repeat;
          background-size: 100%; 
          margin:0;
        }

        .caixa {
          width: 100vw;
          position: absolute;
          bottom: 8vh;
          padding: 0;
          margin: 0;
          
        }

        h3 {
          text-align: center;
          font: italic normal 8vw futura, sans-serif;
          margin:0;
          padding-bottom: 4vh; 
        }

        .dades {
          text-align: center;
          font: italic lighter 5.3vw futura, sans-serif;
          margin: 0px;
          padding: 0px;
        }

        .foto {
          position: absolute;
          bottom: 1vh;
          right: 38vw;
          margin:0;
          font: normal lighter 2vw futura, sans-serif;
        }

        .taula {
          margin-top: 0;
          padding: 0px;
          height: 75vh;
        }

        #prox {
          width: 100vw;
          font: italic lighter 50px futura, sans-serif;
          text-align: center;
          margin-top: 0;
          padding:3vw 0 0 0;
        }

       td {
        border-bottom: 1px solid #ff8c1a;
        text-align: center;
        padding: 1vw;
        font: normal lighter 15px futura, sans-serif;
        }

        table {
          border-collapse: collapse;
          width: 75vw;
          margin: auto;
          table-layout: fixed;
          margin-top: 6vw;
        }

        .logo {
         height: 15vh;
         width: 25vw;
         margin: auto;
         margin-top: 10vh;
         text-align: center;
         
        }

        .you {
          margin: 2vw;
          display: none;
          
        }
      
        a {
          color: #ff8c1a;
          text-decoration: none;
        }

        /* sideshow */

       * { box-sizing: border-box; }

        /* Slideshow container */
        .slideshow-container {
          width: 100vw;
          height: 100vh;
          background-color: black;
          position: relative;
          font-size: 0px;
          background-attachment: fixed;
        }

        /* Hide the images by default */
        .mySlides {
          display: none; 
          width: 100vw;
          overflow: hidden;
        }

        iframe {
          border: none;
          height: 100vh;
          width: 100vw;
        }

        .img {
          display: block;
          height: 100vh;
          width: auto;
          margin: auto;
        }

        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          color: #ff8c1a;
          font-weight: normal;
          font-size: 30px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }

        /* Caption text */
        .text {
          color: #ff8c1a;
          font: normal lighter 15px futura, sans-serif;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
          
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }
      }

@media only screen 
      and (min-width: 900px)
      and (min-aspect-ratio: 1443/876) { 

        body {
          margin: 0;
          padding: 0;
          color: #ff8c1a;
          background-color: #331a00;
          position: static;
        }
        
        header {
          height: 100%;
          background-image: url(background.jpg);
          background-repeat: no-repeat;
          background-size: 100%; 
          background-attachment: fixed;
          margin:0;
          
        }

        .lletres {
          height: 100vh;
          background-image: url(background_lletres.png);
          background-repeat: no-repeat;
          background-size: 100%; 
          margin:0;
        }

        /* Texts */

        .caixa {
          width: 100vw;
          position: absolute;
          bottom: 8vh;
          padding: 0;
          margin: 0;
          
        }

        h3 {
          text-align: center;
          font: italic normal  8vw futuraf, sans-serif;
          margin:0;
          padding-bottom: 4vh; 
        }

        .dades {
          text-align: center;
          font: italic lighter 5.3vw futuraf, sans-serif;
          margin: 0px;
          padding: 0px;
        }

        .foto {
          position: absolute;
          bottom: 1vh;
          right: 43vw;
          margin:0;
          font: normal lighter 1vw futuraf, sans-serif;
        }

        .taula {
          margin-top: 0;
          padding: 0px;
          height: 75vh;
        }

        #prox {
          width: 100vw;
          font: italic lighter 70px futuraf, sans-serif;
          text-align: center;
          margin-top: 0;
          padding:6vw 0 0 0;
        }

       td {
        border-bottom: 1px solid #ff8c1a;
        text-align: center;
        padding: 1vw;
        font: normal lighter 20px futuraf, sans-serif;
        }

        table {
          border-collapse: collapse;
          width: 75vw;
          margin: auto;
          table-layout: fixed;
          margin-top: 6vw;
        }

        .logo {
         height: 15vh;
         width: 25vw;
         margin: auto;
         margin-top: 10vh;
         text-align: center;
         
        }

        .you {
          margin: 2vw;
          display: none;
          
        }
      
        a {
          color: #ff8c1a;
          text-decoration: none;
        }

        /* sideshow */

       * { box-sizing: border-box; }

        /* Slideshow container */
        .slideshow-container {
          width: 100vw;
          height: 100vh;
          background-color: black;
          position: relative;
          font-size: 0px;
          background-attachment: fixed;
        }

        /* Hide the images by default */
        .mySlides {
          display: none; 
          width: 100vw;
          overflow: hidden;
        }

        iframe {
          border: none;
          height: 100vh;
          width: 100vw;
        }

        .img {
          display: block;
          height: 100vh;
          width: auto;
          margin: auto;
        }

        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          color: #ff8c1a;
          font-weight: normal;
          font-size: 30px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }

        /* Caption text */
        .text {
          color: #ff8c1a;
          font: normal lighter 20px futuraf, sans-serif;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
          
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        @font-face {
          font-family: "futuraf";
          font-weight: normal;
          font-style: italic;
          src: url('font/futura-mediumoblique.otf') format('opentype');
        }

        @font-face {
          font-family: "futuraf";
          font-weight: lighter;
          font-style: normal;
          src: url('font/futura-light.otf') format('opentype');
        }

        @font-face {
          font-family: "futuraf";
          font-weight: lighter;
          font-style: italic;
          src: url('font/futura-lightoblique.otf') format('opentype');
        }

      }

@media only screen 
      
      and (max-aspect-ratio: 1443/876) { 

        body {
          margin: 0;
          padding: 0;
          color: #ff8c1a;
          background-color: #331a00;
        }
        
        header {
          height: 100%;
          background-image: url(background2.jpg);
          background-repeat: no-repeat;
          background-size: 100%; 
          background-attachment: fixed;
          margin:0;
        }

        .lletres {
          height: 100vh;
          background-image: url(background2_lletres.png);
          background-repeat: no-repeat;
          background-size: 100%; 
          margin:0;
        }

        /* Texts */

        .caixa {
          width: 100vw;
          position: absolute;
          bottom: 4vh;
          padding: 0;
          margin: 0;
        }

        h3 {
          text-align: center;
          font: italic normal 8vw futura, sans-serif;
          margin:0;
          margin-top: 5vh; 
          
        }

        .dades {
          text-align: center;
          font: italic lighter 5.3vw futura, sans-serif;
          margin: 0px;
          padding: 0px;
        }

        .foto {
          position: absolute;
          bottom: 1vh;
          right: 43vw;
          margin:0;
          font: normal lighter 1.5vw futura, sans-serif;
        }

        .taula {
          margin:0px;
          padding: 0px;
          height: 73vh;
          
        }

        #prox {
          width: 100vw;
          font: italic lighter 70px futura, sans-serif;
          text-align: center;
          margin-top: 2vh;
          padding:6vw 0 0 0;
        }

       td {
        border-bottom: 1px solid #ff8c1a;
        text-align: center;
        padding: 1vw;
        font: normal lighter 25px futura, sans-serif;
        }

        table {
          border-collapse: collapse;
          width: 75vw;
          margin: auto;
          table-layout: fixed;
          margin-top: 6vw;
        }

        .logo {
         height: 15vh;
         width: 25vw;
         margin: auto;
         margin-top: 10vh;
         text-align: center;
         
        }

        .you {
          margin: 2vw;
          display: none;
          
        }

        a {
          color: #ff8c1a;
          text-decoration: none;
        }

        /* sideshow */

       * { box-sizing: border-box; }

        /* Slideshow container */
        
        .slideshow-container {
          width: 100vw;
          height: 100vh;
          background-color: black;
          position: relative;
          font-size: 0px;
          
        }

        /* Hide the images by default */
        .mySlides {
          display: none; 
          width: 100vw;
          overflow: hidden;
        }

        iframe {
          border: none;
          height: 100vh;
          width: 100vw;
        }

        .img {
          display: block;
          height: 100vh;
          width: auto;
          margin: auto;
        }

        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          color: #ff8c1a;
          font-weight: normal;
          font-size: 30px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }

        /* Caption text */
        .text {
          color: #ff8c1a;
          font: normal lighter 20px futura, sans-serif;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
          
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

      }

@media only screen 
      
      and (max-aspect-ratio: 721/512) { 

        body {
          margin: 0;
          padding: 0;
          color: #ff8c1a;
          background-color: #331a00;
        }
        
        header {
          
          height: 100vh;
          background-image: url(background3.jpg);
          background-repeat: no-repeat;
          background-size: 100%; 
          background-attachment: fixed;
          margin:0;
        }

        .lletres {
          height: 100vh;
          background-image: url(background3_lletres.png);
          background-repeat: no-repeat;
          background-size: 100%; 
          margin:0;
        }

        /* Texts */

        .caixa {
          width: 100vw;
          position: absolute;
          bottom: 4vh;
          padding: 0;
          margin: 0;
          
        }

        h3 {
          text-align: center;
          font: italic normal 8vw futura, sans-serif;
          margin:0;
          margin-top: 5vh; 
          
        }

        .dades {
          text-align: center;
          font: italic lighter 5.3vw futura, sans-serif;
          margin: 0px;
          padding: 0px;
        }

        .foto {
          position: absolute;
          bottom: 1vh;
          right: 42vw;
          margin:0;
          font: normal lighter 2vw futura, sans-serif;
        }

        .taula {
          margin:0px;
          padding: 0px;
          height: 73vh;
          
        }

        #prox {
          width: 100vw;
          font: italic lighter 70px futura, sans-serif;
          text-align: center;
          margin-top: 2vh;
          padding:6vw 0 0 0;
        }

       td {
        border-bottom: 1px solid #ff8c1a;
        text-align: center;
        padding: 1vw;
        font: normal lighter 25px futura, sans-serif;
        }

        table {
          border-collapse: collapse;
          width: 75vw;
          margin: auto;
          table-layout: fixed;
          margin-top: 6vw;
        }

        .logo {
         height: 15vh;
         width: 25vw;
         margin: auto;
         margin-top: 10vh;
         text-align: center;
         
        }

        .you {
          margin: 2vw;
          display: none;
          
        }

        a {
          color: #ff8c1a;
          text-decoration: none;
        }

        /* sideshow */

       * { box-sizing: border-box; }

        /* Slideshow container */
        .slideshow-container {
          width: 100vw;
          height: 100vh;
          background-color: black;
          position: relative;
          font-size: 0px;
          background-attachment: fixed;
        }

        /* Hide the images by default */
        .mySlides {
          display: none; 
          width: 100vw;
          overflow: hidden;
        }

        iframe {
          border: none;
          height: 100vh;
          width: 100vw;
        }

        .img {
          display: block;
          height: 100vh;
          width: auto;
          margin: auto;
        }

        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          color: #ff8c1a;
          font-weight: normal;
          font-size: 30px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }

        /* Caption text */
        .text {
          color: #ff8c1a;
          font: normal lighter 20px futura, sans-serif;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
          
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        #one {
          position: relative;
          left: -7vw;
        }

        #three {
          position: relative;
          left: -7vw;
        }

        #five {
          position: relative;
          left: -7vw;
        }

        #seven {
          position: relative;
          left: -7vw;
        }
        
        #eight {
          position: relative;
          left: -7vw;
        }

        #eleven {
          position: relative;
          left: -7vw;
        }
        
        #twelve {
          position: relative;
          left: -7vw;
        }

        #thirteen {
          position: relative;
          left: -7vw;
        }
      }

@media only screen 
      
      and (max-aspect-ratio: 6/5) { 

        body {
          margin: 0;
          padding: 0;
          color: #ff8c1a;
          background-color: #331a00;
        }
        
        header {
          height: 100vh;
          background-image: url(background5.jpg);
          background-repeat: no-repeat;
          background-size: 100%; 
          background-attachment: fixed;
          margin:0;
        }

        .lletres {
          height: 100vh;
          background-image: url(background5_lletres.png);
          background-repeat: no-repeat;
          background-size: 100%; 
          margin:0;
        }

        /* Texts */


        .caixa {
          width: 100vw;
          position: absolute;
          bottom: 4vh;
          padding: 0;
          margin: 0;
        }

        h3 {
          text-align: center;
          font: italic normal 8vw futura, sans-serif;
          margin:0;
          margin-top: 5vh; 
          
        }

        .dades {
          text-align: center;
          font: italic lighter 5.3vw futura, sans-serif;
          margin: 0;
          padding: 0;
        }

        .foto {
          position: absolute;
          bottom: 1vh;
          right: 40vw;
          margin:0;
          font: normal lighter 2.5vw futura, sans-serif;
        }

        .taula {
          margin:0px;
          padding: 0px;
          height: 73vh;
          
        }

        #prox {
          width: 100vw;
          font: italic lighter 70px futura, sans-serif;
          text-align: center;
          margin-top: 2vh;
          padding:6vw 0 0 0;
        }

       td {
        border-bottom: 1px solid #ff8c1a;
        text-align: center;
        padding: 1vw;
        font: normal lighter 25px futura, sans-serif;
        }

        table {
          border-collapse: collapse;
          width: 75vw;
          margin: auto;
          table-layout: fixed;
          margin-top: 6vw;
        }

        .logo {
         height: 15vh;
         width: 25vw;
         margin: auto;
         margin-top: 10vh;
         text-align: center;
         
        }

        .you {
          margin: 2vw;
          display: none;
          
        }

        a {
          color: #ff8c1a;
          text-decoration: none;
        }

        /* sideshow */

       * { box-sizing: border-box; }

        /* Slideshow container */
        .slideshow-container {
          width: 100vw;
          height: 100vh;
          background-color: black;
          position: relative;
          font-size: 0px;
          background-attachment: fixed;
        }

        /* Hide the images by default */
        .mySlides {
          display: none; 
          width: 100vw;
          overflow: hidden;
        }

        iframe {
          border: none;
          height: 100vh;
          width: 100vw;
        }

        .img {
          display: block;
          height: 100vh;
          width: auto;
          margin: auto;
        }

        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          color: #ff8c1a;
          font-weight: normal;
          font-size: 30px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }

        /* Caption text */
        .text {
          color: #ff8c1a;
          font: normal lighter 20px futura, sans-serif;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
          
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        #one {
          position: relative;
          left: -19vw;
        }

        #three {
          position: relative;
          left: -19vw;
        }

        #five {
          position: relative;
          left: -19vw;
        }

        #seven {
          position: relative;
          left: -19vw;
        }

        #eight {
          position: relative;
          left: -10vw;
        }

        #eleven {
          position: relative;
          left: -19vw;
        }

        #twelve {
          position: relative;
          left: -29vw;
        }

        #thirteen {
          position: relative;
          left: -19vw;
        }
      }

@media only screen 
      
      and (max-aspect-ratio: 690/702) { 

        body {
          margin: 0;
          padding: 0;
          color: #ff8c1a;
          background-color: #331a00;
        }
        
        header {
          height: 100vh;
          background-image: url(background5.jpg);
          background-repeat: no-repeat;
          background-size: 100%; 
          background-attachment: fixed;
          margin:0;
        }

        /* Texts */

       .lletres {
          height: 100vh;
          background-image: url(background5_lletres2.png);
          background-repeat: no-repeat;
          background-size: 100%; 
          margin:0;
        }

        .caixa {
          width: 100vw;
          position: absolute;
          bottom: 4vh;
          padding: 0;
          margin: 0;
        }

        h3 {
          text-align: center;
          font: italic normal 8vw futura, sans-serif;
          margin:0;
          margin-top: 5vh; 
          
        }

        .dades {
          text-align: center;
          font: italic lighter 5.3vw futura, sans-serif;
          margin: 0px;
          padding: 0px;
        }

        .foto {
          position: absolute;
          bottom: 1vh;
          right: 40vw;
          margin:0;
          font: normal lighter 2.5vw futura, sans-serif;
        }

        .taula {
          margin:0px;
          padding: 0px;
          height: 73vh;
          
        }

        #prox {
          width: 100vw;
          font: italic lighter 70px futura, sans-serif;
          text-align: center;
          margin-top: 2vh;
          padding:6vw 0 0 0;
        }

       td {
        border-bottom: 1px solid #ff8c1a;
        text-align: center;
        padding: 1vw;
        font: normal lighter 25px futura, sans-serif;
        }

        table {
          border-collapse: collapse;
          width: 75vw;
          margin: auto;
          table-layout: fixed;
          margin-top: 6vw;
        }

        .logo {
         height: 15vh;
         width: 25vw;
         margin: auto;
         margin-top: 10vh;
         text-align: center;
         
        }

        .you {
          margin: 2vw;
          display: none;
          
        }

        a {
          color: #ff8c1a;
          text-decoration: none;
        }

        /* sideshow */

       * { box-sizing: border-box; }

        /* Slideshow container */
        .slideshow-container {
          width: 100vw;
          height: 100vh;
          background-color: black;
          position: relative;
          font-size: 0px;
          background-attachment: fixed;
        }

        /* Hide the images by default */
        .mySlides {
          display: none; 
          width: 100vw;
          overflow: hidden;
        }

        iframe {
          border: none;
          height: 100vh;
          width: 100vw;
        }

        .img {
          display: block;
          height: 100vh;
          width: auto;
          margin: auto;
        }

        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          color: #ff8c1a;
          font-weight: normal;
          font-size: 30px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }

        /* Caption text */
        .text {
          color: #ff8c1a;
          font: normal lighter 20px futura, sans-serif;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
          
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        #one {
          position: relative;
          left: -53vw;
        }

        #three {
          position: relative;
          left: -43vw;
        }

        #five {
          position: relative;
          left: -33vw;
        }

        #seven {
          position: relative;
          left: -53vw;
        }

        #eight {
          position: relative;
          left: -10vw;
        }

        #eleven {
          position: relative;
          left: -53vw;
        }

        #twelve {
          position: relative;
          left: -63vw;
        }

        #thirteen {
          position: relative;
          left: -53vw;
        }
      }

@media only screen 
      
      and (max-aspect-ratio: 570/702) {

        .lletres {
          height: 100vh;
          background-image: url(background5_lletres5.png);
          background-repeat: no-repeat;
          background-size: 100%; 
          margin:0;
        }

        .caixa {
          width: 100vw;
          position: absolute;
          bottom: 4vh;
          padding: 0;
          margin: 0;
        }

        h3 {
          text-align: center;
          font: italic normal 12vw futura, sans-serif;
          margin:0;
          margin-top: 5vh; 
          
        }

        .dades {
          text-align: center;
          font: italic lighter 7.5vw futura, sans-serif;
          margin: 0px;
          padding: 0px;
        }

        .foto {
          position: absolute;
          bottom: 1vh;
          right: 35vw;
          margin:0;
          font: normal lighter 3.5vw futura, sans-serif;
        }

        .taula {
          margin:0px;
          padding: 0px;
          height: 73vh;
          
        }

        #prox {
          width: 100vw;
          font: italic lighter 55px futura, sans-serif;
          text-align: center;
          margin-top: 2vh;
          padding:6vw 0 0 0;
        }

       td {
        border-bottom: 1px solid #ff8c1a;
        text-align: center;
        padding: 1vw;
        font: normal lighter 20px futura, sans-serif;
        }

        .mySlides {
          display: none; 
          width: 100vw;
          overflow: hidden;
        }

        #one {
          position: relative;
          left: -85vw;
        }

        #three {
          position: relative;
          left: -85vw;
        }

        #five {
          position: relative;
          left: -45vw;
        }

        #seven {
          position: relative;
          left: -85vw;
        }

        #eight {
          position: relative;
          left: -10vw;
        }

        #eleven {
          position: relative;
          left: -85vw;
        }

        #twelve {
          position: relative;
          left: -90vw;
        }

        #thirtten {
          position: relative;
          left: -50vw;
        }
      }

@media only screen 
      
      and (max-aspect-ratio: 450/702) {

         .lletres {
          height: 100vh;
          background-image: url(background5_lletres5.png);
          background-repeat: no-repeat;
          background-size: 100%; 
          margin:0;
        }

        .caixa {
          width: 100vw;
          position: absolute;
          bottom: 5vh;
          padding: 0;
          margin: 0;
          
        }

        h3 {
          text-align: center;
          font: italic normal 14vw futura, sans-serif;
          padding-bottom: 5vh; 
          
        }

        .dades {
          text-align: center;
          font: italic lighter 8vw futura, sans-serif;
          margin: 0;
          padding-bottom: 5vh;
          
        }

        .foto {
          position: absolute;
          bottom: 1vh;
          right: 27vw;
          margin:0;
          font: normal lighter 5vw futura, sans-serif;
        }
        
        .taula {
          margin:0px;
          padding: 0px;
          height: 73vh;
          
        }

        #prox {
          width: 100vw;
          font: italic lighter 55px futura, sans-serif;
          text-align: center;
          margin-top: 2vh;
          padding:6vw 0 0 0;
        }

       td {
        border-bottom: 1px solid #ff8c1a;
        text-align: center;
        padding: 1vw;
        font: normal lighter 20px futura, sans-serif;
        }

        table {
          border-collapse: collapse;
          width: 75vw;
          height: 35vh;
          margin: auto;
          table-layout: fixed;
          margin-top: 15vw;
        }

        .mySlides {
          display: none; 
          width: 100vw;
          overflow: hidden;
        }

        #one {
          position: relative;
          left: -130vw;
        }

        #three {
          position: relative;
          left: -130vw;
        }

        #five {
          position: relative;
          left: -80vw;
        }

        #seven {
          position: relative;
          left: -110vw;
        }

        #eight {
          position: relative;
          left: -30vw;
        }

        #eleven {
          position: relative;
          left: -110vw;
        }

        #twelve {
          position: relative;
          left: -125vw;
        }

        #thirteen {
          position: relative;
          left: -70vw;
        }
      }

@media only screen 
      
      and (max-aspect-ratio: 377/704) {

        .lletres {
          height: 100vh;
          background-image: url(background5_lletres5.png);
          background-repeat: no-repeat;
          background-size: 100%; 
          margin:0;
        }
        
        .caixa {
          width: 100vw;
          position: absolute;
          bottom: 20vh;
          padding: 0;
          margin: 0;
          
        }

        h3 {
          text-align: center;
          font: italic normal 14vw futura, sans-serif;
          padding-bottom: 7vh; 
          
        }

        .dades {
          text-align: center;
          font: italic lighter 8vw futura, sans-serif;
          margin: 0;
          padding-bottom: 5vh;
        }

        .foto {
          position: absolute;
          bottom: 1vh;
          right: 28vw;
          margin:0;
          font: normal lighter 5vw futura, sans-serif;
        }

        .taula {
          margin:0px;
          padding: 0px;
          height: 73vh;
          
        }

        #prox {
          width: 100vw;
          font: italic lighter 55px futura, sans-serif;
          text-align: center;
          margin-top: 2vh;
          padding:6vw 0 0 0;
        }

       td {
        border-bottom: 1px solid #ff8c1a;
        text-align: center;
        padding: 1vw;
        font: normal lighter 20px futura, sans-serif;
        }

        table {
          border-collapse: collapse;
          width: 75vw;
          height: 35vh;
          margin: auto;
          table-layout: fixed;
          margin-top: 15vw;
        }

        .logo {
         height: 15vh;
         width: 25vw;
         margin: auto;
         margin-top: 10vh;
         text-align: center;
         
        }

        .you {
          margin: 2vw;
          display: none;
          
        }

        a {
          color: #ff8c1a;
          text-decoration: none;
        }

        /* sideshow */

       * { box-sizing: border-box; }

        /* Slideshow container */
        .slideshow-container {
          width: 100vw;
          height: 100vh;
          background-color: black;
          position: relative;
          font-size: 0px;
          background-attachment: fixed;
        }

        /* Hide the images by default */
        .mySlides {
          display: none; 
          width: 100vw;
          overflow: hidden;
        }

        iframe {
          border: none;
          height: 100vh;
          width: 100vw;
        }

        .img {
          display: block;
          height: 100vh;
          width: auto;
          margin: auto;
        }

        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          color: #ff8c1a;
          font-weight: normal;
          font-size: 30px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }

        /* Caption text */
        .text {
          color: #ff8c1a;
          font: normal lighter 20px futura, sans-serif;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
          
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }


        #one {
          position: relative;
          left: -160vw;
        }

        #two {
          position: relative;
          left: -20vw;
        }

        #three {
          position: relative;
          left: -160vw;
        }

        #four {
          position: relative;
          left: -20vw;
        }

        #five {
          position: relative;
          left: -100vw;
        }

        #six {
          position: relative;
          left: -20vw;
        }

        #seven {
          position: relative;
          left: -130vw;
        }

        #eight {
          position: relative;
          left: -30vw;
        }

        #nine {
          position: relative;
          left: -20vw;
        }

        #ten {
          position: relative;
          left: -20vw;
        }

        #eleven {
          position: relative;
          left: -70vw;
        }

        #twelve {
          position: relative;
          left: -160vw;
        }

        #thirteen {
          position: relative;
          left: -90vw;
        }

      }      

@media only screen 
      
      and (max-aspect-ratio: 315/630) { 

        body {
          margin: 0;
          padding: 0;
          color: #ff8c1a;
          background-color: #331a00;
        }
        
        header {
          
          height: 100vh;

          background-image: url(background6.jpg);
          background-repeat: no-repeat;
          background-size: 100%; 
          background-attachment: fixed;
          margin:0;
        }

        .lletres {
          height: 100vh;
          background-image: url(background6_lletres.png);
          background-repeat: no-repeat;
          background-size: 100%; 
          margin:0;
        }

        /* Texts */

        

        .caixa {
          width: 100vw;
          position: absolute;
          bottom: 21vh;
          padding: 0;
          margin: 0;
          
        }

        h3 {
          text-align: center;
          font: italic normal 14vw futura, sans-serif;
          padding-bottom: 5vh; 
          
        }

        .dades {
          text-align: center;
          font: italic lighter 8vw futura, sans-serif;
          margin: 0;
          padding-bottom: 5vh;
          
        }

        .foto {
          position: absolute;
          bottom: 1vh;
          right: 33vw;
          margin:0;
          font: normal lighter 5vw futura, sans-serif;
        }

        .taula {
          margin:0px;
          padding: 0px;
          height: 73vh;
          
        }

        #prox {
          width: 100vw;
          font: italic lighter 55px futura, sans-serif;
          text-align: center;
          margin-top: 2vh;
          padding:6vw 0 0 0;
        }

       td {
        border-bottom: 1px solid #ff8c1a;
        text-align: center;
        padding: 1vw;
        font: normal lighter 20px futura, sans-serif;
        }

        table {
          border-collapse: collapse;
          width: 75vw;
          height: 35vh;
          margin: auto;
          table-layout: fixed;
          margin-top: 15vw;
        }

        .logo {
         height: 15vh;
         width: 25vw;
         margin: auto;
         margin-top: 10vh;
         text-align: center;
         
        }

        .you {
          margin: 2vw;
          display: none;
          
        }

        a {
          color: #ff8c1a;
          text-decoration: none;
        }

        /* sideshow */

       * { box-sizing: border-box; }

        /* Slideshow container */
        .slideshow-container {
          width: 100vw;
          height: 100vh;
          background-color: black;
          position: relative;
          font-size: 0px;
          background-attachment: fixed;
        }

        /* Hide the images by default */
        .mySlides {
          display: none; 
          width: 100vw;
          overflow: hidden;
        }

        iframe {
          border: none;
          height: 100vh;
          width: 100vw;
        }

        .img {
          display: block;
          height: 100vh;
          width: auto;
          margin: auto;
        }

        /* Next & previous buttons */
        .prev, .next {
          cursor: pointer;
          position: absolute;
          top: 50%;
          width: auto;
          margin-top: -22px;
          padding: 16px;
          color: #ff8c1a;
          font-weight: normal;
          font-size: 30px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
        }

        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
          background-color: rgba(0,0,0,0.8);
        }

        /* Caption text */
        .text {
          color: #ff8c1a;
          font: normal lighter 20px futura, sans-serif;
          padding: 8px 12px;
          position: absolute;
          bottom: 8px;
          width: 100%;
          text-align: center;
          
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }


        #one {
          position: relative;
          left: -170vw;
        }

        #two {
          position: relative;
          left: -20vw;
        }

        #three {
          position: relative;
          left: -170vw;
        }

        #four {
          position: relative;
          left: -20vw;
        }


        #five {
          position: relative;
          left: -130vw;
        }

        #six {
          position: relative;
          left: -20vw;
        }


        #seven {
          position: relative;
          left: -150vw;
        }

        #eight {
          position: relative;
          left: -50vw;
        }

        #nine {
          position: relative;
          left: -20vw;
        }

        #ten {
          position: relative;
          left: -20vw;
        }

        #eleven {
          position: relative;
          left: -70vw;
        }

        #twelve {
          position: relative;
          left: -200vw;
        }

        #thirteen {
          position: relative;
          left: -110vw;
        }
      }
    
    
    
    